<!--
#navMenu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	text-align: center;
}
#navMenu li{
    display:inline-block;
    margin: 10px;
    color: #000;
    background:#fff;
    background:rgba(255,255,255, 0.5);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Microsoft YaHei', Arial, sans-serif;
}
#navMenu li.active{
	background:#666;
	background:rgba(0,0,0, 0.5);
	color:#fff;
}
#navMenu li a{
	text-decoration:none;
	color: #000;
}
#navMenu li.active a:hover{
	color: #000;
}
#navMenu li:hover{
	background: rgba(255,255,255, 0.8);
}
#navMenu li a,
#navMenu li.active a{
	padding: 9px 18px;
	display:block;
}
#navMenu li.active a{
	color: #fff;
}
-->